@media screen and (max-width: 480px),(min-height: 1000px) {
    .heading{
        margin-top: 5%;
        font-weight: bolder;
    }
    .credit{
        display: none;
    }
    .container{
        width: 90vw;
        height: 80vh;
        position: relative;
    }
    .inp{
        width: 65% !important;
        padding: 4px;
    }
    .inpsection{
        width: 90%;
        padding: 1%;
        padding-bottom: 2%;
        gap: 12px
    }
    #showdeleted{
        position: fixed;
        bottom: 12vh;
        left: 80vw;
        z-index: 100;
    }
    .tasklayout{
        display: flex;
        justify-content: space-between;
    }
    .tasklayout button{
        height: fit-content;
    }
  }