.form{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#formbackground{
    background-color: var(--containerbackground);
    border-radius: 12px;
    padding: 10px;
}
.formfooter{
    display: flex;
    justify-content: center;
}
form{
    height: fit-content;
    width: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inp{
    width: 80%;
}
.submitbtn{
    padding: 5px;
    width: 25%;
    border-radius: 8px;
    background-color: var(--primaryblue);
    border: 1px solid var(--element);
    font-size: larger;
    cursor: pointer;
}
.submitbtn:active{
    outline: none;
    background-color: var(--secondaryblue);
}
.red{
    background-color: transparent;
    color: var(--red);
}
.create-signin{
    margin-top: 10px;
    background-color: transparent;
    color: var(--element);
}
.loader{
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
p{
    background-color: transparent;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: var(--element);
}
.link{
    color: rgb(0, 149, 255);
    text-decoration: none;
}
#or{
    color: var(--element);
    display: flex;
    flex-direction: row;
    width: 75%;
    align-items: center;
    margin-top: 2%;
    gap: 5px;
}
#or div{
    background-color: var(--element);
    width: 80%;
    height: 0.1px;
}
#google{
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid var(--element);
    border-radius: 20px;
    background-color: var(--background);
    cursor: pointer;
}
#google:hover{
    background-color: var(--containerbackground);
    border: 1px solid rgb(0, 149, 255);
}
#googletxt{
    font-size: larger;
    margin-left: 10px;
    color: var(--element);
}
#googleimg{
    width: 24px;
    cursor: pointer;
}