*::-webkit-scrollbar {
    display: none;
    margin: 0%;
    padding: 0%;
}
.notes{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}
.content{
    width: 65vw;
    height: 100vh;
    overflow-y: scroll;
    justify-content: center;
    padding: 5px;
    margin-top: 10vh;
}
.noteinp{
    width: 90%;
    padding: 10px;
    font-size: larger;
    height: fit-content;
    border: none;
    border-radius: 8px;
    outline: none;
    overflow-wrap: anywhere;
    resize: none;
}
.noteinp:focus{
    border: 2px solid var(--primaryblue);
}
.addnote{
    width: fit-content;
    padding: 15px;
    box-shadow: 1px 1px 5px var(--element); 
    border-radius: 8px;
    height: 100%;    
}
#title{
    font-size: x-large; 
    height: 4vh;
    color: var(--element);
}
#note{
    height: 4vh;
    color: var(--element);
    height: 60vh;
}
#takenote{
    box-shadow: 1px 1px 5px var(--element);
    width: 90%;
    padding: 10px;
    height: fit-content; 
    font-size: larger;
    border-radius: 8px;
    border: none;
    outline: none;
}
.addnote-header{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    justify-content: space-between;
    margin-bottom: 5px;
}
#addbtn{
    width: fit-content;
    border: none;
    background-color: var(--primaryblue);
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
}
#addbtn:active{
    outline: none;
    background-color: var(--secondaryblue);
}
.showdeleted{
    width: 52px;
    height: 55px;
    position: fixed;
    top: 10vh;
    left: 81vw;
    display: inline-block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
    background-color: var(--primaryblue);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: larger ;
    display: flex;
    align-items: center;
}
.showdeleted img{
    width: 25px;
    background-color: var(--primaryblue);
}
.showdeleted:active{
background-color: var(--secondaryblue);
outline: none;
}   
.notelayout{
    min-width:  8vw;    
    min-height: 8vh;
    max-width: 25vw;
    max-height: 25vh;
    padding: 5px;
    border: 1px solid var(--element);
    background-color: transparent;
    border-radius: 8px;
    overflow-wrap: anywhere;
    flex: 1 1 auto;
    overflow-y: scroll; 
    transition: linear 0.2s;
    cursor: pointer;
}
.notelayout:hover{
    border: 2px solid var(--secondaryblue);
    transform: scale(1.01,1.01);
}
.title{
    font-size: larger;
    color: var(--element);
    padding: 2px;
}
.note{
    color: var(--element);
    padding: 2px;
}
.notecontainer{
    margin-top: 2%;
    display: flex;
    background-color: transparent;
    gap: 15px;
    overflow-y: scroll;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 5px;
}
.addnotecontainer{
    background-color: transparent;
    display: flex;
    justify-content: center;
}
#delbtn{
    background-color: var(--red);
    width: fit-content;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#delbtn img{ 
    background-color: var(--red);
}
#rycbtn{
    background-color: var(--green);
    width: fit-content;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#rycbtn img{ 
    background-color: var(--green);
}
#Notes-btns{
 display: flex;
 flex-direction: row;
 gap: 8px;   
}
#delcontent{
    font-size: large;
}
#delheading{
    margin-top: 0%;
}
#loader{
    width: 100%;
    display: flex;
    justify-content: center;
}
#loader img{
    animation: loader 2s linear 0s infinite reverse;
}
@keyframes loader {
    0%{
        transform: rotate(360deg);       
    }
}