*{
    background-color: transparent;
}
.heading{
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-top: 5vh;
    gap: 8px;
    display: none;
  }
  .heading h1{
    display: flex;
    flex-flow: column-reverse;
    font-weight: 900;
  }
  .credit{
    display: flex;
    flex-flow: column-reverse;
  }
.container{
    background-color: var(--containerbackground);
    width: 40vw;
    height: 70vh;
    margin-top: 12vh;
    border-radius: 12px;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.container::-webkit-scrollbar {
    display: none;
}
.inp{
    border: 1px solid var(--element);
    background-color: transparent;
    padding: 8px;
    width: 82% !important;
    border-radius: 8px;
    font-size: medium;
    color: var(--element);
}
.inp:focus{
    outline: none;
    border: 2px solid  var(--secondaryblue);  
}
.inpsection{
    height: fit-content;
    border-bottom: 2px solid var(--element);
    padding: 2%;
    margin: 15px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 15px;
}
#addbtn{
    width: fit-content;
    border: 1px solid var(--border);
    background-color: var(--primaryblue);
    padding: 8px;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
    text-wrap: nowrap;
}
#addbtn:active{
    outline: none;
    background-color: var(--secondaryblue);
}
.taskcontainer{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 2%; 
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
}
.taskcontainer::-webkit-scrollbar {
    display: none;
}
.task{
    display: flex;
    width: 75%;
    overflow-x: scroll;
    align-items: center;
    overflow-wrap: anywhere;
    color: var(--element);
    padding: 10px 0px 10px 0px;
    font-size: larger;
}
.task::-webkit-scrollbar {
    display: none;
}
.tasklayout{
    border: 1px solid var(--element);
    width: 90%;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.tasklayout:hover{
    border: 1px solid var(--primaryblue);
    cursor: pointer;
}
.delbtn{
    background-color: var(--red);
    width: fit-content;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.delbtn img{ 
    background-color: var(--red);
}
.rycbtn{
    background-color: var(--green);
    width: fit-content;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.rycbtn img{ 
    background-color: var(--green);
}
.edtbtn{
    background-color: var(--primaryblue);
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
}
.edtbtn img{ 
    background-color: var(--primaryblue);
}
#showdeleted{
    width: 52px;
    height: 55px;
    position: sticky;
    bottom: 10px;
    left: 90%;
    display: inline-block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
    background-color: var(--primaryblue);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: larger ;
    display: flex;
    align-items: center;
}
#showdeleted img{
    width: 25px;
    background-color: var(--primaryblue);
}
#showdeleted:active{
background-color: var(--secondaryblue);
outline: none;
}   
#loader img{
    animation: loader 2s linear 0s infinite reverse;
}
@keyframes loader {
    0%{
        transform: rotate(360deg);       
    }
}
#recycleheading{
    color: var(--element);
}
#timeinput{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}
#timeinput input{
    width: 20%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--primaryblue);
    font-size: large;
    outline: none
}
#ampm{
    border-radius: 8px;
    border: 2px solid var(--primaryblue);
    outline: none;
}
#timebtn{
    background-color: var(--primaryblue);
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: large;
}