*{
  margin: 0;
  padding: 0%;
  color: black;
}
.heading{
  display: flex;
  height: fit-content;
  justify-content: center;
  margin-top: 2%;
  gap: 8px;
}
.heading h1{
  display: flex;
  flex-flow: column-reverse;
  font-weight: 900;
}
.credit{
  display: flex;
  flex-flow: column-reverse;
}